Byte-compiled / optimized / DLL files

pycache/
*.py[cod]
*$py.class

C ekstenzije

*.so

Distribucija / Pakiranje

bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

Lokalna Python okruženja i Conda

.conda/
.python-version
pip-log.txt
pip-delete-this-directory.txt
env/
venv/
ENV/
env.bak/
venv.bak/

IDE postavke

.vscode/
.idea/
*.swp
*.swo

Operacijski sustav

.DS_Store
Thumbs.db